/* Responsive design for small screens */
@media (max-width: 400px) {
  #display {
    font-size: 2em; 
  }

  .key {
    padding: 15px; 
    font-size: 1.2em; 
  }

  #hello, #bye {
    font-size: 1em; 
    padding: 15px; 
  }
}

/* General body styling */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-image: url(/public/bg.jpg); 
  background-size: cover;
  padding: 10px; 
  backdrop-filter: blur(10px); 
}

/* Calculator container styling */
#calculator {
  background: rgba(255, 255, 255, 0.2); /* Transparent background */
  border-radius: 30px; /* Rounded corners */
  padding: 20px;
  box-shadow: 0 10px 15px rgb(163, 84, 163); /* Box shadow */
  width: 100%;
  max-width: 300px; /* Max width */
}

/* Display styling */
#display {
  width: 100%;
  height: 80px; /* Increased height for better visibility */
  background: rgba(97, 97, 97, 0.2); 
  color: #ffffff; /* Text color */
  font-size: 2.5em;
  text-align: right;
  border: none;
  border-radius: 20px; /* Rounded corners */
  margin-bottom: 20px; 
  padding: 10px;
  box-sizing: border-box; 
}

/* Key container styling */
#keys {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

/* General key styling */
.key {
  background: rgba(42, 28, 28, 0.2); 
  color: #ffffff;
  border: none;
  border-radius: 10px;
  padding: 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s;
}

/* Key hover and active states */
.key:hover {
  background: #6e6e6e;
}

.key:active {
  background: #8e8e8e;
}

/* Special key styling */
.key:nth-child(4),
.key:nth-child(8),
.key:nth-child(12),
.key:nth-child(16) {
  background: #2ab7b7;
}

.key:nth-child(18),
.key:nth-child(17),
.key:nth-child(19),
.key:nth-child(20) {
  background: #ff6b6b;
}

/* On/Off button styling */
#on-off {
  background: #ff6b6b;
  grid-column: span 2;
  color: #ffffff;
  font-size: 1.2em;
  padding: 20px; 
  text-align: center; 
  border: none;
  border-radius: 10px;
}

/* Hello and Bye button styling */
#hello, #bye {
  color: #ffffff;
  font-size: 15px;
  padding: 20px; 
  text-align: center; 
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background 0.3s;
  grid-column: span 1; 
}

/* Hello and Bye button hover and active states */
#hello:hover, #bye:hover {
  background: #ff4b4b;
}

#hello:active, #bye:active {
  background: #ff2b2b;
}

